server {
{
    listen 443;
    server_name localhost;

    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $remote_addr;

    location /grafana/ {
        proxy_pass https://localhost:3000;
    }

    location /prometheus/ {
        proxy_pass https://localhost:9090;
    }
    
    location /nodeexporter/ {
        proxy_pass https://localhost:9100;
    }
    
    location /alertmanager/ {
        proxy_pass https://localhost:9093;
    }
    
    location /cadvisor/ {
        proxy_pass https://localhost:8081;
    }
}